{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<h1>New Page</h1>

<!-- create a form -->
<form action="{% url 'new_page' %}" method="POST">
    {% csrf_token %}
    <label>Title:</label>
    <input type="text" name="title" placeholder="Enter a title"><br>
    <label>Content:</label><br>
    <textarea name="content" placeholder="Write entry here"></textarea><br>
    <input type="Submit" value="New Page" class="btn btn-primary">
</form>
<!-- one input for title -->
<!-- one input for description -->

{% endblock %}

